body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    background-color: aquamarine;
    padding: 0 20px;
    min-width: 1180px;
}

.header-logo {
    font-size: 40px;
    font-weight: bold;
}

.header-list ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header-list li {
    margin-left: 20px;
}

.header-list a {
    text-decoration: none;
    font-size: 30px;
    color: black;
    padding: 10px 15px;
}

.header-list a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}





.house-introduce, .cat-introduce, .cat-introduce2 {
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /* 各要素の幅を均等に伸ばすために flex: 1 を追加 */
}

.house-introduce img, .cat-introduce img, .cat-introduce2 img {
    width: 100%; /* 画像の幅を100%に設定 */
    height: auto; /* 高さは自動でアスペクト比を保持 */
    object-fit: contain; /* 画像を保持して表示 */
    max-height: 100%; /* 最大高さを100%に設定 */
}

.top-wrapper {
    display: flex;
    justify-content: space-around;
    background-image: url(img/background_pale_red.jpeg);
    background-size: cover;
    padding: 20px 20px 0 20px;
    height: auto; /* 高さを自動で調整 */
    width: 100%; /* ブラウザの幅いっぱいに広げる */
}

.container {
    width: 95%; /* 最大幅を1200pxに設定 */
    margin: 0 auto; /* 中央寄せ */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container p {
    font-size: 40px;
}




footer {
    background-color: rgb(27, 158, 71);
    color: azure;
    height: 120px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo {
    font-size: 40px;
    font-weight: bold;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}

.footer-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-list ul li {
    margin-right: 20px;
}

.footer-list a {
    color: azure;
    font-size: 35px;
    text-decoration: none;
}

.footer-list a:hover {
    text-decoration: underline;
}

.footer-list p {
    font-size: 25px;
    margin: 0;
}

